
body {
    margin: 60px 60px 60px 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    padding-bottom: 10px;   
}

.nav {
    background-color: rgb(190, 210, 253);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
}

.nav a:hover {
    color: rgb(10, 10, 100);
    transform: rotate(5deg);
    transition: all 0.3s ease-out;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li{
    margin-left: 50px;
    position:inherit;
}

article {
    float:left;
}

